extends layout

block content
    h1 #{title}

    ul.list-group
        each article, i in articles
            li.list-group-item
                h4= article.title
                p= article.author
                p= article.body


